<div class="grid text-4xl font-semibold mt-5">
  <div
    class="col-3 col-offset-1 flex flex flex-wrap align-items-center justify-content-start vertical-align-middle"
  >
    <div class="flex flex-row flex-wrap h-5rem">
      <i class="pi pi-car text-white text-2xl"></i>
      <p class="ml-3 mt-1">
        <span class="text-primary">Car</span
        ><span class="text-white">Rental</span>
      </p>
    </div>
  </div>
  <div class="col-7 flex flex flex-wrap align-items-center justify-content-end">
    <div class="flex flex-row flex-wrap h-5rem">
      <div class="nav-button">
        <button
          class="dropbtn"
          [routerLink]="['/pojazdy']"
          routerLinkActive="active-link"
        >
          Pojazdy
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/pojazdy/przegladaj']">Przeglądaj</a>
          <a [routerLink]="['/pojazdy/dodaj']">Dodaj</a>
          <a [routerLink]="['/pojazdy/modele']">Modele</a>
        </div>
      </div>
      <div class="nav-button">
        <button
          class="dropbtn"
          [routerLink]="['/uzytkownicy']"
          routerLinkActive="active-link"
        >
          Użytkownicy
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/uzytkownicy/przegladaj']">Przeglądaj</a>
          <a [routerLink]="['/uzytkownicy/dodaj']">Dodaj</a>
        </div>
      </div>
      <div class="nav-button">
        <button [routerLink]="['/profil']">Profil</button>
        <button>Wyloguj</button>
      </div>
    </div>
  </div>
</div>
