<div class="min-w-full min-h-full flex justify-content-center flex-wrap mt-8">
  <div class="form-container border-round-3xl">
    <div class="grid">
      <div class="col-8">
        <p class="text-3xl font-bold ml-6">Przeglądaj aktywne rezerwacje</p>
      </div>
      <div class="col-4">
        <p-iconField iconPosition="right">
          <p-inputIcon
            [styleClass]="'pi pi-' + getSearchIconName()"
            (click)="clearQuery()"
          />
          <input
            type="text"
            pInputText
            class="mt-4"
            (input)="onSearch()"
            [(ngModel)]="query"
            placeholder="Wyszukaj..."
          />
        </p-iconField>
      </div>
      <div class="col-11 max-h-24rem vehicles-list ml-6">
        <ng-container
          *ngIf="reservations$ | async as reservations; else loading"
        >
          <div *ngFor="let reservation of reservations">
            <div class="vehicle-container border-round-3xl flex">
              <div class="col-8 font-semibold ml-5">
                <p>Identyfikator: {{ reservation.id }}</p>
                <p>Marka: {{ reservation.brand }}</p>
                <p>Model: {{ reservation.model }}</p>
                <p>
                  Okres rezerwacji: {{ reservation.startTime }} -
                  {{ reservation.endTime }}
                </p>
              </div>
              <div
                class="col-3 flex flex-wrap align-items-center justify-content-center"
              >
                <div class="vertical-align-middle">
                  <p-button
                    label="Wypożycz"
                    class="vertical-align-middle w-6rem test"
                    (onClick)="onRentVehicle(reservation)"
                    [disabled]="reservation.reserved"
                  />
                  <div class="mt-2">
                    <p-button
                      label="Anuluj rezerwację"
                      class="vertical-align-middle"
                      (onClick)="onCancelReservation(reservation)"
                      [disabled]="reservation.reserved"
                    />
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </ng-container>
        <ng-template #loading>
          <div class="col-12 text-center mt-8">
            <app-spinner></app-spinner>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
