<div class="min-w-full min-h-full flex justify-content-center flex-wrap mt-8">
  <div class="form-container border-round-3xl">
    <div class="grid">
      <div class="col-8 flex flex-row-reverse flex-wrap">
        <p class="text-4xl font-bold switch">Dodaj model</p>
      </div>
      <div class="col-4 flex flex-row-reverse flex-wrap">
        <div class="flex flex-wrap align-items-center gap-2 mr-6">
          <p class="vertical-align-middle">Nowa marka</p>
          <p-inputSwitch [(ngModel)]="newBrand" />
        </div>
      </div>
      <div
        class="col-12 flex flex-wrap justify-content-center align-items-center"
      >
        <form [formGroup]="addModelForm">
          <div class="flex flex-column h-3rem mt-6">
            <ng-container *ngIf="newBrand; else versionTemplate">
              <input
                class="h-3rem w-20rem"
                type="text"
                pInputText
                placeholder="Marka"
                formControlName="brand"
              />
            </ng-container>
            <ng-template #versionTemplate>
              <p-dropdown
                [options]="brands"
                placeholder="Marka"
                formControlName="brand"
              ></p-dropdown>
            </ng-template>
            <p
              *ngIf="
                (newBrand
                  ? addModelForm.controls['brand']
                  : addModelForm.controls['brand']
                ).invalid &&
                (newBrand
                  ? addModelForm.controls['brand']
                  : addModelForm.controls['brand']
                ).dirty
              "
              class="error-message"
            >
              {{ newBrand ? "Podaj markę!" : "Podaj markę!" }}
            </p>
          </div>

          <div class="flex flex-column h-3rem mt-6">
            <input
              class="h-3rem w-20rem"
              type="text"
              pInputText
              placeholder="Wersja"
              formControlName="model"
            />
            <p
              *ngIf="
                addModelForm.controls['model'].invalid &&
                addModelForm.controls['model'].dirty
              "
              class="error-message"
            >
              Podaj wersje!
            </p>
          </div>
        </form>
        <div class="col-12 flex justify-content-center flex-wrap mt-7">
          <p-button
            label="Dodaj"
            [disabled]="addModelForm.invalid"
            (onClick)="onSubmit()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
