.form-container {
  background-color: var(--gray-300);
  width: 60%;
  min-height: 550px;
}

.vehicle-container {
  background-color: white;
}

.users-list {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 15rem;
  height: 15rem;
  max-height: 15rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  transition: transform 0.4s;
  cursor: pointer;

  & p{
    color: black;
  }

  & .line {
    width: 30%;
    height: 1px;
    border: none;
    background: #3B82F6;
  }

  &:hover {
    transform: scale(1.02) perspective(1000px);
  }
}


::ng-deep {
  & p-card .p-card .p-card-body {
    padding: 0;
  }

  & .p-card .p-card-content {
    padding: 0;
  }
}

app-spinner{
  margin-top: 9rem;
}